@model GetManufacturerDTO

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Manufacturer</h4>
    <hr />
    <h5>
        @Html.DisplayFor(model => model.Name)
    </h5>
    <hr />
    @foreach (var item in Model.Models)
    {
        <dl class="row">
            <dt class="col-sm-2">
                <p>Model:</p>
            </dt>
            <dd class="col-sm-10">
                <p>@item.Name<p>
            </dd>
        </dl>
    }
</div>
<div>
    <a class="btn btn-primary" asp-action="Index">Back to list</a>
</div>