@model PaginatedList<GetManufacturerDTO>
<body>
	<div class="container col-3 mt-md-4 pt-3 mb-4 pb-1" style="background-color:#212529;">
		<p>
			<a onclick="showInPopup('@Url.Action("Create","Manufacturer",null,Context.Request.Scheme)', 'New Manufacturer')" class="btn btn-outline-success float-right mb-3 text-white">Create New</a>
		</p>
		<div id="partialView">
			<partial name="Manufacturer_Table_Partial" model="@Model" />
		</div>
	</div>
</body>

@section Scripts {
	@{
		<script src="~/js/Custom_scripts/Index_Manufacturer.js"></script>
	}
}
