<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SmartGarage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        body {
            background-image: url('images/Vehicles.jpg');
        }
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow">
            <div class="container">
                <a asp-controller="Home" asp-action="Index"> <img src="https://i.ibb.co/2gc4BKN/Better-Logo.png" alt="Better-Logo" border="0"></a>
                <button class="navbar-toggler flex-grow-1" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <p><partial name="_LoginPartial" /></p>
                    <ul class="navbar-nav flex-grow-1 justify-content-center">
                        @if (User.IsInRole("Employee") || User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Manufacturer"
                                   asp-action="Index">Manufacturers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link link text-white" asp-area="" asp-controller="VehicleModel"
                                   asp-action="Index">VehicleModels</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Customer</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item w-auto" style="width:160px" asp-controller="User"
                                       asp-action="Index">All Customers</a>
                                    <a class="dropdown-item w-auto" style="width:160px" asp-area="Identity" asp-page="/Account/ForgotPassword">Forgoten Password</a>
                                    <a class="dropdown-item w-auto" style="width:160px" onclick="showInPopup('Identity/Account/Register')">Register User</a>
                                </div>
                            </li>
                        }
                        @if (User.IsInRole("Employee") || User.IsInRole("Admin") || User.IsInRole("Customer"))
                        {
                            <li class="nav-item">
                                <a class="nav-link link text-white" asp-area="" asp-controller="Vehicle"
                                   asp-action="Index">Vehicles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link link text-white" asp-area="" asp-controller="Order"
                                   asp-action="Index">Order </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link link text-white" asp-area="" asp-controller="Service"
                                   asp-action="Index">Services </a>
                            </li>
                            @if (User.IsInRole("Customer"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" onclick="showInPopup('Identity/Account/ChangePassword')">Reset Password</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid p-0 m-0">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="form-modal">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                    <span aria-hidden="true">&times;</span>
                </div>
                <div class="modal-body p-2">
                </div>
            </div>
        </div>
    </div>
    <footer class="border-top pt-0 footer text-muted bg-dark">
        <div class="container">
            &copy; 2021 - SmartGarage - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
