@page
@model ChangePasswordModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>@ViewData["Title"]</h4>
<div class="container col-md-3 mt-5 table-dark table-bordered p-2" style="border: 7px solid #212529;">
    <h3 class="text-center"> Change password</h3>
    <form id="change-password-form" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Input.OldPassword"></label>
            <input asp-for="Input.OldPassword" class="form-control " style="box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;" />
            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.NewPassword"></label>
            <input asp-for="Input.NewPassword" class="form-control" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;" />
            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.ConfirmPassword"></label>
            <input asp-for="Input.ConfirmPassword" class="form-control" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="pb-3">
            <button type="submit" class="btn btn-primary btn-block">Update password</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}