@page
@model ForgotPasswordModel

<body>
    <div class="container col-md-3 table-dark table-bordered p-3" style="border: 7px solid #212529; margin-top:135px;">
        @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
        {
            {
                <h5 class="text-center">Enter E-mail with link for password reset.</h5>
            }
            @if (TempData["Success"] != null)
            {
                <div class="alert alert-success" role="alert">
                    <p>@TempData["Success"]</p>
                </div>
            }

            <h1>@ViewData["Title"]</h1>
        }
        else
        {
            {
                ViewData["Title"] = "Forgot your password?";
            }

            <h3 class="text-center">Forgot your password?</h3>
            <h4 class="text-xl-center">Enter your email here</h4>
        }

        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger" role="alert">
                <p>@TempData["Error"]</p>
            </div>
        }

        <hr />
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <div>
                    <label asp-for="Input.Email"></label>
                </div>
                <input asp-for="Input.Email" class="form-control box-shadow" style="box-shadow: 0 0 1px 2px #05abdc" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
    </div>
</body>