@page
@model ForgotPasswordModel

@{
    Layout = "~/Views/Shared/_LayoutForPopup.cshtml";
}

@if (User.IsInRole("Admin") || User.IsInRole("Employee"))
{
    {
        <h5 class="text-center">Enter E-mail with link for password reset.</h5>
    }
    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success" role="alert">
            <p>@TempData["Success"]</p>
        </div>
    }
    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <p>@TempData["Error"]</p>
        </div>
    }

    <h1>@ViewData["Title"]</h1>
}
else
{
    {
        ViewData["Title"] = "Forgot your password?";
    }

    <h1>@ViewData["Title"]</h1>
    <h4>Enter your email.</h4>
}

<hr />
<div class="container col-md-12">
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label  asp-for="Input.Email"></label>
            <input asp-for="Input.Email" class="form-control" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
