@page
@model LoginModel

<body style="background-image: url('https://localhost:5001/images/Vehicles.jpg');">
    <h1>@ViewData["Title"]</h1>
    <div class="container col-md-3 mt-5 table-dark table-bordered p-3" style="border: 7px solid #212529;">
        <h2 class="text-center">Log in</h2>
        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success" role="alert">
                <p>@TempData["Success"]</p>
            </div>
        }
        <section>
            <form id="account" method="post">
                <h4 class="text-center">Use a local account to log in.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control box-shadow" style="box-shadow: 0 0 1px 2px #05abdc" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control box-shadow" style="box-shadow: 0 0 1px 2px #05abdc" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
            </form>
        </section>
    </div>
</body>