@model UpdateAdminViewModel
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<body style="background-image: url('https://localhost:5001/images/Vehicles.jpg');">
	<div class="container col-md-3 table-dark table-bordered p-3" style="border: 7px solid #212529; margin-top:135px;">
		<div class="row">
			<div class="col-md-12">
				@if (TempData["Success"] != null)
				{
					<div class="alert alert-success" role="alert">
						<p>@TempData["Success"]</p>
					</div>
				}

				@if (TempData["Error"] != null)
				{
					<div class="alert alert-danger" role="alert">
						<p>@TempData["Error"]</p>
					</div>
				}

				<form asp-action="UpdateAdmin" id="editUser" method="post">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="form-group">
						<label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;" />
						<span asp-validation-for="Email" class="text-danger" id="Email"></span>
					</div>

					<label for="exampleFormControlSelect1">Role</label>
					<select asp-for="Role" class="form-control" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;" id="exampleFormControlSelect1">
						<option>Employee</option>
						<option>Customer</option>
						<option>Admin</option>
					</select>
					<div class="form-group mt-3">
						<input type="submit" value="Update" class="btn btn-primary" /> <a class="btn float-right btn-primary" asp-action="Index">Back to List</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
	<script>

		$("#editUser").validate({
			submitHandler: function (form) {
				form.submit();
			}
		});
	</script>
}
