@{
    ViewData["Title"] = "Home Page";
}
<div>
    <img class="m-0 p-0 h-50 w-100" src="~/images/Home-img.jpg">
</div>
<div class="container text-center">
    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success" role="alert">
            <p>@TempData["Success"]</p>
        </div>
    }
</div>


