@model GetVehicleDTO

@{
    ViewData["Title"] = "Details";
    Layout = null;
}

<div class="card w-100" style="width: 31rem;" id="table">
    <img class="w-100 "src="https://i.ibb.co/26mShnZ/NoCar.jpg" alt="Card image cap">
    <div class="card-body">
        <h5>Owner: @Model.Owner</h5>
        <h5>Colour: @Model.Colour</h5>
        <h5>VIN: @Model.VIN</h5>
        <h5>Number plate: @Model.NumberPlate</h5>
    </div>
</div>