@model PaginatedList<GetVehicleDTO>
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
	<div class="container mt-3 pt-2" style="background-color:#212529;">
		<p class="text-white">
			Customer name: <input type="text" name="name" id="name" />
			<input type="submit" value="Filter" id="search" />
		</p>
		<div id="partialView">
			<partial name="Vehicle_Table_Partial" model="@Model" />
		</div>
	</div>
</body>
                        </th>
@section Scripts {
	<script>
		$(document).ready(function () {
			$(document).on("click", "#search", function () {
				var name = $('#name').val();
				$.ajax({
					url: "/Vehicle/Filter",
					type: "GET",
					data: {
						name: name
					}
				})
					.done(function (partialViewResult) {
						$("#partialView").html(partialViewResult);
					});
			});
			$(document).on("click", "#next", function () {
				var name = $('#name').val();
				var page = $('#page').val();
				$.ajax({
					url: "/Vehicle/Filter",
					type: "GET",
					data: {
						name: name,
						pageNumber: parseInt(page) + 1
					}
				})
					.done(function (partialViewResult) {
						$("#partialView").html(partialViewResult);
					});
			});
			$(document).on("click", "#prev", function () {
				var name = $('#name').val();
				var page = $('#page').val();
				$.ajax({
					url: "/Vehicle/Filter",
					type: "GET",
					data: {
						name: name,
						pageNumber: parseInt(page) - 1
					}
				})
					.done(function (partialViewResult) {
						$("#partialView").html(partialViewResult);
					});
			});
		});
	</script>
}
                                        <a onclick="showInPopup('@Url.Action("Delete", "Vehicle", new { id = item.Id }, Context.Request.Scheme)', 'Delete Vehicle')" class="btn btn-outline-danger text-white">Delete</a>
                        }
                        <li class="page-item">
                            <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex+1)" class="btn btn-outline-success text-white @nextDisabled">Next</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </body>