@model PaginatedList<GetVehicleDTO>
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="container mt-3 pt-2" style="background-color:#212529;">
        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger text-center col-md-7 container" style="background-color:red" role="alert">
                <p>@TempData["Error"]</p>
            </div>
        }
        @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
        {
            <p class="text-white p-1">
                <input type="submit" value="Search" class="btn btn-outline-success" id="search" />
                <input type="text" name="name" placeholder="Search by Name" id="name" />
            </p>
        }
        else
        {
            <p class=""></p>
        }
        <div id="partialView">
            <partial name="Vehicle_Table_Partial" model="@Model" />
        </div>
    </div>
</body>


@section Scripts {
	@{
		<script src="~/js/Custom_scripts/Index_Vehicle.js"></script>
	}
}