@model CreateOrderViewModel

@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_LayoutForPopup.cshtml";
}
<body style="background-image: url('https://localhost:5001/images/Vehicles.jpg')">
	<div class="container col-md-12">
		<div>
			<form asp-action="Create">
				<div asp-validation-summary="ModelOnly" class="text-danger" id="CreateOrder"></div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label asp-for="GarageName" class="control-label"></label>
                            <input asp-for="GarageName" class="form-control" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;" />
							<span asp-validation-for="GarageName" class="text-danger"></span>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;" />
							<span asp-validation-for="Email" class="text-danger"></span>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label asp-for="UserName" class="control-label"></label>
                            <input asp-for="UserName" class="form-control" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;" />
							<span asp-validation-for="UserName" class="text-danger"></span>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label asp-for="FirstName" class="control-label"></label>
                            <input asp-for="FirstName" class="form-control" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;" />
							<span asp-validation-for="FirstName" class="text-danger"></span>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label asp-for="LastName" class="control-label"></label>
                            <input asp-for="LastName" class="form-control" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;" />
							<span asp-validation-for="LastName" class="text-danger"></span>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label asp-for="PhoneNumber" class="control-label"></label>
                            <input asp-for="PhoneNumber" class="form-control" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;" />
							<span asp-validation-for="PhoneNumber" class="text-danger"></span>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label asp-for="Age" class="control-label"></label>
                            <input asp-for="Age" class="form-control " style="box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;" />
							<span asp-validation-for="Age" class="text-danger"></span>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label asp-for="DrivingLicenseNumber" class="control-label"></label>
                            <input asp-for="DrivingLicenseNumber" class="form-control" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;" />
							<span asp-validation-for="DrivingLicenseNumber" class="text-danger"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label asp-for="Address" class="control-label"></label>
                            <input asp-for="Address" class="form-control" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;" />
							<span asp-validation-for="Address" class="text-danger"></span>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label asp-for="NumberPlate" class="control-label"></label>
                            <input asp-for="NumberPlate" class="form-control" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;" />
							<span asp-validation-for="NumberPlate" class="text-danger"></span>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label asp-for="VIN" class="control-label"></label>
                            <input asp-for="VIN" class="form-control" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;" />
							<span asp-validation-for="VIN" class="text-danger"></span>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Manufacturer</label>
							<select asp-for="ManufacturerId" asp-items="Model.Manufacturers.ToSelectList()"  class="form-control" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;" id="Make"></select>
							<span asp-validation-for="ManufacturerId" class="text-danger"></span>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label asp-for="Colour" class="control-label"></label>
                            <input asp-for="Colour" class="form-control" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;" />
							<span asp-validation-for="Colour" class="text-danger"></span>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label asp-for="Models"></label>
							<select asp-for="VehicleModelId" asp-items="Model.Models.ToSelectList()" class="form-control" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;" id="Model"></select>
							<span asp-validation-for="VehicleModelId" class="text-danger"></span>
						</div>
					</div>

				</div>
				<div class="form-group pb-3 mb-0 pt-1">
					<a class="float-right btn btn-primary" asp-action="Index">Back to List</a>
					<input type="submit" value="Create" class="btn btn-success" />
				</div>
			</form>
		</div>
	</div>
</body>


@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
	<script>

		$("#CreateOrder").validate({
			submitHandler: function (form) {
				form.submit();
			}
		});
	</script>
}
