@model PaginatedList<GetOrderDTO>
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
	<div class="container mt-3 pt-2" style="background-color:#212529;">
		@if (User.IsInRole("Employee") || User.IsInRole("Admin"))
		{
        <p>
            <input type="text" name="name" placeholder="Search by Name" id="name" />
            <input type="submit" value="Search" class="btn btn-outline-success text-white" id="search" />
            <a onclick="showInPopup('@Url.Action("Create","Order",null,Context.Request.Scheme)', 'Create Order')" class="btn btn-outline-success mr-3 mt-1 float-right text-white">Create New</a>
        </p>
		}
		<div id="partialView">
			<partial name="Order_Table_Partial" model="@Model" />
		</div>
	</div>
</body>

@section Scripts {
	<script>
		$(document).ready(function () {
			$(document).on("click", "#search", function () {
				var name = $('#name').val();
				$.ajax({
					url: "/Order/Search",
					type: "GET",
					data: {
						name: name
					}
				})
					.done(function (partialViewResult) {
						$("#partialView").html(partialViewResult);
					});
			});
			$(document).on("click", "#next", function () {
				var name = $('#name').val();
				var page = $('#page').val();
				$.ajax({
					url: "/Order/Search",
					type: "GET",
					data: {
						name: name,
						pageNumber: parseInt(page) + 1
					}
				})
					.done(function (partialViewResult) {
						$("#partialView").html(partialViewResult);
					});
			});
			$(document).on("click", "#prev", function () {
				var name = $('#name').val();
				var page = $('#page').val();
				$.ajax({
					url: "/Order/Search",
					type: "GET",
					data: {
						name: name,
						pageNumber: parseInt(page) - 1
					}
				})
					.done(function (partialViewResult) {
						$("#partialView").html(partialViewResult);
					});
			});
		});
	</script>
}

